{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}


{% endblock %}


{% block head_end %}
{% endblock %}

{% block content %}

<div class="jumbotron">

  <h1 id="jumbotron-header-main" hidden>crab rangoon</h1>

</div>

<div class="page-content">

  <div class="row">
    <div class="col-md-2" id="left-column"></div>

    <div class="col-md-8" id="main-video">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/K2k_CSu9MuI" frameborder="0" allowfullscreen></iframe>

    </div>

    <div class="col-md-2" id="left-column"></div>
  </div>

  <div class="row">
    <div class="col-md-2" id="left-column"></div>


    <div class="col-md-8" id="main-video">
      <a href="https://www.youtube.com/channel/UCyoC0ZhcX94_2M-H1jsz1cg" id="crab-square" target="_blank">
        <img src="/public/img/cr_youtube.png" width="100%"></img>
      </a>

      </div>
    </div>

<!--     <div class="col-md-4" id="mid-left-column">
      <div class="medium-video">
        <iframe src="https://www.youtube.com/embed/NHgn9zc5LOQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4" id="mid-right-column">
      <div class="medium-video">
        <iframe src="https://www.youtube.com/embed/Mz0CkNa8PT4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div> -->

    <div class="col-md-2" id="right-column"></div>
  </div>

  <div class="row">
    <div class="col-md-2" id="left-column"></div>

    <div class="col-md-8" id="main-video">
      <div id="crab-square"><img src="/public/img/crab_square3.jpg" width="100%"></img>

      </div>
    </div>

    <div class="col-md-2" id="left-column"></div>
  </div>
</div>




<script>

</script>


{% endblock %}
